@font-face {
	font-family: 'alegreya_sanslight';
	src: url('../fonts/alegreyasans-light-webfont.eot');
	src: url('../fonts/alegreyasans-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/alegreyasans-light-webfont.woff') format('woff'),
		 url('../fonts/alegreyasans-light-webfont.ttf') format('truetype'),
		 url('../fonts/alegreyasans-light-webfont.svg#alegreya_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'alegreya_sansmedium';
	src: url('../fonts/alegreyasans-medium-webfont.eot');
	src: url('../fonts/alegreyasans-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/alegreyasans-medium-webfont.woff') format('woff'),
		 url('../fonts/alegreyasans-medium-webfont.ttf') format('truetype'),
		 url('../fonts/alegreyasans-medium-webfont.svg#alegreya_sansmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'alegreya_sansregular';
	src: url('../fonts/alegreyasans-regular-webfont.eot');
	src: url('../fonts/alegreyasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/alegreyasans-regular-webfont.woff') format('woff'),
		 url('../fonts/alegreyasans-regular-webfont.ttf') format('truetype'),
		 url('../fonts/alegreyasans-regular-webfont.svg#alegreya_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'alegreya_bold';
	src: url('../fonts/alegreyasans-bold-webfont.eot');
	src: url('../fonts/alegreyasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/alegreyasans-bold-webfont.woff') format('woff'),
		 url('../fonts/alegreyasans-bold-webfont.ttf') format('truetype'),
		 url('../fonts/alegreyasans-bold-webfont.svg#alegreya_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bree_serifregular';
	src: url('../fonts/breeserif-regular-webfont.eot');
	src: url('../fonts/breeserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/breeserif-regular-webfont.woff') format('woff'),
		url('../fonts/breeserif-regular-webfont.ttf') format('truetype'),
		url('../fonts/breeserif-regular-webfont.svg#bree_serifregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
#wrapper{
	width: 100%;
	overflow: hidden;
}
#nav{
	background: #231f20;
	padding: 22px 0 31px;
	text-align: center;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}
#nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
#nav li{
	float: left;
	margin: 0 15px;
}
#nav a{color: #fff;}
.logo-box{
	padding: 10px 0 0;
	//background: #4d868e url(../images/bg-1.jpg) no-repeat 50% 100%;
	height: 289px;
}
.logo{
	position: relative;
	z-index: 4;
	display: block;
	margin: 0 auto;
	background: url(../images/logo.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	width: 330px;
	height: 363px;
}
.logo a{
	display:block;
	height:100%;
}
.promo-block{
	padding: 91px 0 17px;
	text-align: center;
	background: #231f20;
	position: relative;
}
.promo-block .holder{
	max-width: 780px;
	margin: 0 auto;
	font-size: 20px;
	line-height: 32px;
	color: #4d868e;
}
.promo-block:after{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 72px;
	background: url(../images/bg-b-1.png) no-repeat 50% 0;
	content: '';
}
.promo-block h1{
	margin: 0 0 32px;
	font: 38px/46px 'alegreya_sanslight', Arial, Helvetica, sans-serif;
	color: #fff;
}
.promo-block p{margin: 0 0 28px;}
.promo-block .btn-row{
	overflow: hidden;
}
.promo-block .btn-row a{
	display: inline-block;
	margin: 10px 22px;
	background: #929a4b;
	color: #fff;
	text-transform: uppercase;
	font: 24px/28px 'alegreya_sansmedium', Arial, Helvetica, sans-serif;
	padding: 15px 0;
	width: 235px;
}
#footer{
	padding: 90px 0 60px;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	background: #231f20;
	text-align: center;
}
.logo-2{
	display: block;
	margin: 0 auto 20px;
	background: url(../images/logo-2.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	width: 365px;
	height: 80px;
}
.logo-2 a{
	display:block;
	height:100%;
}
#footer .holder{
	max-width: 900px;
	margin: 0 auto;
}
#footer p{margin: 0 0 20px;}
.follow{
	padding: 3px 0;
	display: inline-block;
	vertical-align: top;
	padding-right: 51px;
	font: 24px/30px 'bree_serifregular', Arial, Helvetica, sans-serif;
	color: #fff;
	background: url(../images/ico-follow.png) no-repeat 100% 50%;
}
.tab-section{
	text-align: center;
	overflow: hidden;
}
.tab-section .heading{
	padding: 100px 0 8px;
	overflow: hidden;
}
.tab-section h2{
	font: 42px/30px 'bree_serifregular', Arial, Helvetica, sans-serif;
	color: #929a4b;
	text-transform: uppercase;
}
.tab-section h3{
	font: 22px/30px 'bree_serifregular', Arial, Helvetica, sans-serif;
	color: #000;
}
.tab-section h4{
	font: 26px/15px 'bree_serifregular', Arial, Helvetica, sans-serif;
	color: #000;
	text-transform: uppercase;
}
.tab-section h5{
	font: 18px/25px 'bree_serifregular', Arial, Helvetica, sans-serif;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 75px;
}
.tabset{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	font-size: 22px;
	line-height: 26px;
	text-transform: uppercase;
}
.tabset li{
	float: left;
	margin: 0 5px;
}
.tabset a{
	display: block;
	color: #231f20;
	background: #cdcdab;
	padding: 16px 15px;
}
.company-section{
	position: relative;
	text-align: center;
	padding: 120px 0 41px;
	background: #fff url(../images/bg-5.jpg) repeat-y 50% 0;
}
.company-section:after{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 72px;
	background: url(../images/bg-b-2.jpg) no-repeat 50% 0;
	content: '';
}
.company-section h2{
	margin: 0 0 71px;
	font: 42px/50px 'bree_serifregular', Arial, Helvetica, sans-serif;
	color: #929a4b;
	text-transform: uppercase;
	padding: 0 0 30px;
	background: url(../images/separator.png) no-repeat 50% 100%;
}
.company-section .list{
	margin: 0;
	padding: 0;
	list-style: none;
}
.company-section .list li{
	margin: 0 34px;
	display: inline-block;
	vertical-align: middle;
}
.company-section .list img{
	display: block;
}
.about-section{
	text-align: center;
	background: #231f20;
	padding: 65px 0 0;
}